﻿
@{
    ViewBag.Title = "Registrace";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>REGISTRACE</h2>


<div class="row">
    <div class="col-lg-6 col-md-12">
        <form>

            <label for="validationTooltip01">Jméno</label>
            <input type="text" class="form-control" id="validationTooltip01" placeholder="Jméno" value="" required>



            <label for="validationTooltip01">Příjmení</label>
            <input type="text" class="form-control" id="validationTooltip01" placeholder="Příjmení" value="" required>

            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Třída</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Vyberte...</option>
                <option value="1">1.G</option>
                <option value="2">2.G</option>
                <option value="3">3.G</option>
                <option value="4">4.G</option>
                <option value="5">5.G</option>
                <option value="6">6.G</option>
                <option value="7">8.G</option>
                <option value="8">1.A</option>
                <option value="9">2.A</option>
                <option value="10">3.A</option>
                <option value="11">4.A</option>
                <option value="12">1.B</option>
                <option value="13">2.B</option>
                <option value="14">3.B</option>
                <option value="15">4.B</option>
            </select>
        </form>
    </div>
    <div class="col-lg-6 col-md-12">
        <form>

            <label for="validationCustomUsername">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"></span>
                </div>
                <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="florbal@dgkralupy.eu">
            </div>


            <div class="form-group">
                <label for="inputPassword6">Heslo</label>
                <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                <small id="passwordHelpInline" class="text-muted">
                    Heslo musí být 8-20 znaků dlouhé.
                </small>
            </div>
            <div class="form-group">
                <label for="inputPassword6">Potvrzení hesla</label>
                <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                <small id="passwordHelpInline" class="text-muted">
                    Heslo musí být 8-20 znaků dlouhé.
                </small>
            </div>


        </form>
    </div>

</div>


